.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--lightorange);
}
.footer p {
  font: normal 330 15px/28px "Brandon Grotesque", sans-serif;
}
.footer a {
  color: var(--darkgray);
  text-decoration: none;
}
